<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @title.name %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @title.isbn %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @title.cost %>
</p>

<p>
  <strong>Type:</strong>
  <%= @title.type %>
</p>

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
